
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap" rel="stylesheet">
</head>
<h1 style="font-family: 'Dancing Script', cursive; font-size:70px">Về cửa hàng</h1>
<p style="font-family: 'Dosis', sans-serif; font-size:20px ">
    
</p>
<p style="font-family: 'Dosis', sans-serif; font-size:20px">
    
</p>

